{% extends 'layout.html' %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
    <form method=post action="{{ url_for('auth.signup') }}">
        {{ form.csrf_token }}
        <dl>
            {{ render_field(form.first_name, class="form-control") }}
            {{ render_field(form.last_name, class="form-control") }}
            {{ render_field(form.user_name, class="form-control") }}
            {{ render_field(form.email, class="form-control") }}
            {{ render_field(form.password, class="form-control") }}
            {{ render_field(form.password_repeat, class="form-control") }}
        </dl>
        <p><button type="submit" class="btn btn-primary">Sign up</button></p>
    </form>
{% endblock %}